<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sawyer.dao.DimissionDAO">

    <!-- 查询员工信息 -->
    <select id="selectEmployeeById" parameterType="int" resultType="Employee">
        SELECT emp.emp_ID, emp.emp_name,emp.pos_ID,emp.dep_ID,emp.gender,emp.date,emp.confirm_date
        FROM employee emp
        WHERE emp.emp_ID = #{emp_ID}
    </select>

    <!-- 添加离职人员 -->
    <insert id="addDimission" parameterType="Dimission">
        INSERT INTO dimission(emp_ID, emp_name, gender,pos_ID, pos_name, dep_ID, dep_name, date,confirm_date, dim_date, dim_reason)
        VALUES (#{emp_ID}, #{emp_name}, #{gender},#{pos_ID}, #{pos_name}, #{dep_ID}, #{dep_name}, #{date},#{confirm_date}, #{dim_date}, #{dim_reason});
    </insert>
    <!-- 删除员工记录 -->
    <delete id="deleteEmployeeById" parameterType="int">
        DELETE FROM employee WHERE emp_ID = #{emp_ID};
    </delete>
    <!-- 查询离职员工信息 -->
    <select id="findAll" resultType="Dimission">
        select dim.emp_ID,dim.dim_date,dim.dim_reason,dim.emp_name,dim.gender,dim.dep_ID,dim.dep_name,dim.pos_ID,dim.pos_name,dim.date,dim.confirm_date
        from dimission dim

    </select>

    <!--    添加离职人员 -->
    <insert id="add" parameterType="Dimission">
        insert into dimission(emp_ID, dim_date, dim_reason ) values (#{emp_ID}, #{dim_date}, #{dim_reason} )
        DELETE FROM employee WHERE emp_ID = #{emp_ID};
    </insert>

    <!--    删除离职人员 -->
    <delete id="delete" parameterType="int">
        delete from dimission where emp_ID = #{emp_ID}
    </delete>

    <!--    根据ID查询离职人员-->
    <select id="findbyID" parameterType="int" resultType="Dimission">
        select dim.emp_ID,dim.dim_date,dim.dim_reason,dim.emp_name,dim.gender,dim.dep_ID,dim.dep_name,dim.pos_ID,dim.pos_name,dim.date,dim.confirm_date
        from dimission dim
        WHERE dim.emp_ID = #{emp_ID};
    </select>

    <!--    按岗位查找    -->
    <select id="findbypos" parameterType="int" resultType="com.sawyer.entity.Dimission">
        SELECT dim.emp_ID, dim.dim_date, dim.dim_reason,
               dim.emp_name, dim.gender, dim.dep_ID, dim.dep_name,
               dim.pos_ID, dim.pos_name, dim.date, dim.confirm_date
        FROM dimission dim
        WHERE dim.pos_ID = #{pos_ID};
    </select>

    <!--    按部门查找    -->
    <select id="findbydep" parameterType="int" resultType="com.sawyer.entity.Dimission">
        SELECT dim.emp_ID, dim.dim_date, dim.dim_reason,
               dim.emp_name, dim.gender, dim.dep_ID, dim.dep_name,
               dim.pos_ID, dim.pos_name, dim.date, dim.confirm_date
        FROM dimission dim
        WHERE dim.dep_ID = #{dep_ID};
    </select>


    <!--    按日期查找   -->
    <select id="findByDateRange" parameterType="map" resultType="com.sawyer.entity.Dimission">
        SELECT dim.emp_ID, dim.dim_date, dim.dim_reason,
        dim.emp_name, dim.gender, dim.dep_ID, dim.dep_name,
        dim.pos_ID, dim.pos_name, dim.date, dim.confirm_date
        FROM dimission dim
        <where>
            <if test="startDate != null and endDate != null">
                AND dim.dim_date BETWEEN #{startDate} AND #{endDate}
            </if>
            <if test="startDate != null and endDate == null">
                AND dim.dim_date &gt;= #{startDate}
            </if>
            <if test="startDate == null and endDate != null">
                AND dim.dim_date &lt;= #{endDate}
            </if>
        </where>
    </select>



</mapper>