<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sawyer.dao.EmpDAO">

    <!-- 查询所有员工信息 -->
    <select id="findAll" resultType="Employee">
        select emp.emp_ID, emp.emp_name, emp.gender, emp.dep_ID, dep.dep_name, emp.pos_ID, pos.pos_name, emp.date, emp.entermode,emp.birthday,emp.phone,emp.email,emp.address,emp.work_experience,emp.academic_background,emp.emp_type,emp.confirm_date,emp.intern_situation,emp.intern_detail
        from employee emp
        JOIN department dep ON emp.dep_ID = dep.dep_ID
        JOIN position pos ON emp.pos_ID = pos.pos_ID
    </select>

    <!-- 添加员工信息 -->
    <insert id="add" parameterType="Employee">
        INSERT INTO employee(emp_ID, emp_name, gender, dep_ID, pos_ID, date, entermode, birthday, phone, email, address, work_experience, academic_background, emp_type, confirm_date, intern_situation, intern_detail)
        VALUES (#{emp_ID}, #{emp_name}, #{gender}, #{dep_ID}, #{pos_ID}, #{date}, #{entermode}, #{birthday}, #{phone}, #{email}, #{address}, #{work_experience}, #{academic_background}, #{emp_type}, #{confirm_date}, #{intern_situation}, #{intern_detail});
    </insert>

    <!-- 删除员工信息 -->
    <delete id="delete" parameterType="int">
        DELETE FROM employee WHERE emp_ID = #{emp_ID};
    </delete>

    <!-- 根据员工ID查询员工信息 -->
    <select id="findbyID" parameterType="int" resultType="Employee">
        select emp.emp_ID, emp.emp_name, emp.gender, emp.dep_ID, dep.dep_name, emp.pos_ID, pos.pos_name, emp.date, emp.entermode,emp.birthday,emp.phone,emp.email,emp.address,emp.work_experience,emp.academic_background,emp.emp_type,emp.confirm_date,emp.intern_situation,emp.intern_detail
        from employee emp
        JOIN department dep ON emp.dep_ID = dep.dep_ID
        JOIN position pos ON emp.pos_ID = pos.pos_ID
        WHERE emp_ID = #{emp_ID};
    </select>

    <!-- 根据部门ID查询员工信息 -->
    <select id="findbydep" parameterType="int" resultType="Employee">
        select emp.emp_ID, emp.emp_name, emp.gender, emp.dep_ID, dep.dep_name, emp.pos_ID, pos.pos_name, emp.date, emp.entermode,emp.birthday,emp.phone,emp.email,emp.address,emp.work_experience,emp.academic_background,emp.emp_type,emp.confirm_date,emp.intern_situation,emp.intern_detail
        from employee emp
        JOIN department dep ON emp.dep_ID = dep.dep_ID
        JOIN position pos ON emp.pos_ID = pos.pos_ID
        WHERE emp.dep_ID = #{dep_ID};
    </select>

    <select id="findbypos" parameterType="int" resultType="Employee">
        select emp.emp_ID, emp.emp_name, emp.gender, emp.dep_ID, dep.dep_name, emp.pos_ID, pos.pos_name, emp.date, emp.entermode,emp.birthday,emp.phone,emp.email,emp.address,emp.work_experience,emp.academic_background,emp.emp_type,emp.confirm_date,emp.intern_situation,emp.intern_detail
        from employee emp
        JOIN department dep ON emp.dep_ID = dep.dep_ID
        JOIN position pos ON emp.pos_ID = pos.pos_ID
        WHERE emp.pos_ID = #{pos_ID};
    </select>

    <select id="findbyMode" parameterType="String" resultType="Employee">
        select emp.emp_ID, emp.emp_name, emp.gender, emp.dep_ID, dep.dep_name, emp.pos_ID, pos.pos_name, emp.date, emp.entermode,emp.birthday,emp.phone,emp.email,emp.address,emp.work_experience,emp.academic_background,emp.emp_type,emp.confirm_date,emp.intern_situation,emp.intern_detail
        from employee emp
                 JOIN department dep ON emp.dep_ID = dep.dep_ID
                 JOIN position pos ON emp.pos_ID = pos.pos_ID
        WHERE entermode = #{mode};
    </select>
    <select id="findbyemptype" parameterType="String" resultType="Employee">
        select emp.emp_ID, emp.emp_name, emp.gender, emp.dep_ID, dep.dep_name, emp.pos_ID, pos.pos_name, emp.date, emp.entermode,emp.birthday,emp.phone,emp.email,emp.address,emp.work_experience,emp.academic_background,emp.emp_type,emp.confirm_date,emp.intern_situation,emp.intern_detail
        from employee emp
                 JOIN department dep ON emp.dep_ID = dep.dep_ID
                 JOIN position pos ON emp.pos_ID = pos.pos_ID
        WHERE emp_type = #{emp_type};
    </select>
    <select id="findcareer" parameterType="int" resultType="Career">
        select work_experience, academic_background
        from employee
        WHERE emp_ID = #{emp_ID};
    </select>
    <select id="findbyall" resultType="Employee" parameterType="map">
        select emp.emp_ID, emp.emp_name, emp.gender, emp.dep_ID, dep.dep_name, emp.pos_ID, pos.pos_name, emp.date, emp.entermode,emp.birthday,emp.phone,emp.email,emp.address,emp.work_experience,emp.academic_background,emp.emp_type,emp.confirm_date,emp.intern_situation,emp.intern_detail
        from employee emp
        JOIN department dep ON emp.dep_ID = dep.dep_ID
        JOIN position pos ON emp.pos_ID = pos.pos_ID
        <where>
            <if test="dep_ID != null">
                <![CDATA[AND emp.dep_ID = #{dep_ID} ]]>
            </if>
            <if test="pos_ID != null">
                <![CDATA[AND emp.pos_ID = #{pos_ID} ]]>
            </if>
            <if test="datea != null">
                <![CDATA[AND emp.date > #{datea} ]]>
            </if>
            <if test="dateb != null">
                <![CDATA[AND emp.date < #{dateb} ]]>
            </if>
            <if test="entermode != null">
                <![CDATA[AND emp.entermode = #{entermode} ]]>
            </if>
            <if test="emp_type != null">
                <![CDATA[AND emp.emp_type = #{emp_type} ]]>
            </if>
            <if test="confirm_datea != null">
                <![CDATA[AND emp.confirm_date > #{confirm_datea} ]]>
            </if>
            <if test="confirm_dateb != null">
                <![CDATA[AND emp.confirm_date < #{confirm_dateb} ]]>
            </if>
            <if test="intern_situation != null">
                <![CDATA[AND emp.intern_situation = #{intern_situation} ]]>
            </if>
        </where>
    </select>

    <!-- 修改员工信息 -->
    <update id="update" parameterType="Employee">
        UPDATE employee
        <set>
            <if test="emp_name != null">emp_name = #{emp_name},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="dep_ID != null">dep_ID = #{dep_ID},</if>
            <if test="pos_ID != null">pos_ID = #{pos_ID},</if>
            <if test="date != null">date = #{date},</if>
            <if test="entermode != null">entermode = #{entermode},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="address != null">address = #{address},</if>
            <if test="work_experience != null">work_experience = #{work_experience},</if>
            <if test="academic_background != null">academic_background = #{academic_background},</if>
            <if test="emp_type != null">emp_type = #{emp_type},</if>
            <if test="confirm_date != null">confirm_date = #{confirm_date},</if>
            <if test="intern_situation != null">intern_situation = #{intern_situation},</if>
            <if test="intern_detail != null">intern_detail = #{intern_detail}</if>
        </set>
        WHERE emp_ID = #{emp_ID};
    </update>

</mapper>