<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sawyer.dao.ReportDAO">

    <!--    按部门查找    -->
    <select id="findbydep" parameterType="int" resultType="com.sawyer.entity.Employee">
        select emp.emp_ID, emp.emp_name, emp.gender, emp.dep_ID, dep.dep_name, emp.pos_ID, pos.pos_name, emp.date, emp.entermode,emp.birthday,emp.phone,emp.email,emp.address,emp.work_experience,emp.academic_background,emp.emp_type,emp.confirm_date,emp.intern_situation,emp.intern_detail
        from employee emp
                 JOIN department dep ON emp.dep_ID = dep.dep_ID
                 JOIN position pos ON emp.pos_ID = pos.pos_ID
        WHERE emp.dep_ID = #{dep_ID};
    </select>

</mapper>